*{
    box-sizing: border-box; 
 }
 
 body{
     font-family: Verdana, Geneva, Tahoma, sans-serif;
     margin: 15px 30px;
     font-size: 17px;
     padding: 8px;
 }
 
 .container{
     background-color: #dcf5f1;
     padding: 5px 20px 15px 20px ;
     border: 1px solid lightgrey;
     border-radius: 4px ;
 }
 input[type="text"],
 input[type="email"],
 input[type="number"],
 input[type="password"],
 input[type="date"],
 select,
 textarea{
      width:100%;
     padding: 12px; 
     border: 2px solid #ccc;
     border-radius: 5px;
     margin: 10px;
 }
 fieldset{
     background-color :#fff;
     border: 2px solid #ccc;
 }
 .main_heading{
     text-align: center;
 
 }
 input[type="submit"]
 {
    text-align: center;
     background-color: rgb(10, 160, 15);
     color: #fff;
     padding: 12px 20px;
     border: none;
     border-radius: 4px;
     cursor: pointer;
     width: 150px;
 }
 input[type="submit"]:hover{
     background-color: rgb(207, 216, 40);
 }
 input[type="reset"]
 {
    text-align: center;
     background-color: rgb(220, 39, 39);
     color: #fff;
     padding: 12px 20px;
     border: none;
     border-radius: 4px;
     cursor: pointer;
     width: 150px;
 }
 input[type="reset"]:hover{
     background-color: rgb(216, 81, 40);
 }
 .submitbutton{
    text-align: center;
 }